<div class="override-defaults">

    <div class=" tabset-basics sv-tabs-wrapper sv-tabs-onetab">
        <div class=" sv-tabs-tab-list">
            <a class=" sv-tabs-tab active" href="#tab-basic-63">Abra</a>
        </div>d
        <div class=" sv-tabs-panel-list">
            <div class=" sv-tabs-panel active" id="tab-basic-63">
                <div class=" grid-row">
                    <div class=" grid-col span-md-6 span-lg-4 text-center">
                        <p><a data-title=" Abra official artwork"
                              href="https://img.pokemondb.net/artwork/large/abra.jpg"
                              rel="lightbox"><img alt=" Abra artwork by Ken Sugimori" height="253"
                                                  src="https://img.pokemondb.net/artwork/abra.jpg" width="360"/></a></p>
                        <p class=" text-small"><a href="/artwork/abra">Additional artwork</a></p>
                    </div>
                    <div class=" grid-col span-md-6 span-lg-4">
                        <h2>Pok√©dex data</h2>
                        <table class=" vitals-table">
                            <tbody>
                            <tr>
                                <th>National ‚Ññ</th>
                                <td><strong>063</strong></td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>
                                    <a class=" type-icon type-psychic" href="/type/psychic">Psychic</a></td>
                            </tr>
                            <tr>
                                <th>Species</th>
                                <td>Psi Pok√©mon</td>
                            </tr>
                            <tr>
                                <th>Height</th>
                                <td>0.9¬†m (2‚Ä≤11‚Ä≥)</td>
                            </tr>
                            <tr>
                                <th>Weight</th>
                                <td>19.5¬†kg (43.0¬†lbs)</td>
                            </tr>
                            <tr>
                                <th>Abilities</th>
                                <td><span class=" text-muted">1. <a href="/ability/synchronize" title="Passes a burn, poison, or paralysis to
        the foe.">Synchronize</a></span><br/><span class=" text-muted">2. <a href="/ability/inner-focus"
                                                                             title="The Pok√©mon is protected from flinching.">Inner Focus</a></span><br/><small
                                        class=" text-muted"><a
                                        href="/ability/magic-guard" title="Protects the Pok√©mon from indirect damage.">Magic
                                    Guard</a>
                                    (hidden ability)</small><br/></td>
                            </tr>
                            <tr>
                                <th>Local ‚Ññ</th>
                                <td>063 <small class=" text-muted">(Yellow/Red/Blue)</small><br/>089 <small
                                        class=" text-muted">(Gold/Silver/Crystal)</small>
                                    <br/>039 <small class=" text-muted">(Ruby/Sapphire/Emerald)</small><br/>063 <small
                                            class=" text-muted">(FireRed/LeafGreen)</small>
                                    <br/>020 <small class=" text-muted">(Diamond/Pearl)</small><br/>020 <small class="
                                                                                     text-muted">(Platinum)</small>
                                    <br/>089 <small class=" text-muted">(HeartGold/SoulSilver)</small><br/>102 <small
                                            class=" text-muted">(X/Y
                                        ‚Äî Central Kalos)</small><br/>040 <small class=" text-muted">(Omega Ruby/Alpha
                                        Sapphire)</small><br/>042
                                    <small class=" text-muted">(Sun/Moon ‚Äî Alola dex)</small><br/>049 <small
                                            class=" text-muted">(U.Sun/U.Moon
                                        ‚Äî Alola dex)</small><br/>063 <small class=" text-muted">(Let's Go
                                        Pikachu/Let's Go Eevee)</small><br/>020
                                    <small class=" text-muted">(Brilliant Diamond/Shining Pearl)</small><br/>058 <small
                                            class=" text-muted">(Legends:
                                        Arceus)</small><br/>031 <small class=" text-muted">(The Isle of
                                        Armor)</small><br/></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" grid-col span-md-12 span-lg-4">
                        <div class=" grid-row">
                            <div class=" grid-col span-md-6 span-lg-12">
                                <h2>Training</h2>
                                <table class=" vitals-table">
                                    <tbody>
                                    <tr>
                                        <th>EV yield</th>
                                        <td class=" text
    ">
                                            1 Special Attack
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Catch rate</th>
                                        <td>
                                            200 <small class=" text-muted">(26.1% with Pok√©Ball, full HP)</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Base <a href="/glossary#def-friendship">Friendship</a></th>
                                        <td>
                                            50 <small class=" text-muted">(normal)</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Base Exp.</th>
                                        <td>62</td>
                                    </tr>
                                    <tr>
                                        <th>Growth Rate</th>
                                        <td>Medium Slow</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class=" grid-col span-md-6 span-lg-12">
                                <h2>Breeding</h2>
                                <table class=" vitals-table">
                                    <tbody>
                                    <tr>
                                        <th>Egg Groups</th>
                                        <td><a href="/egg-group/human-like">Human-Like</a></td>
                                    </tr>
                                    <tr>
                                        <th>Gender</th>
                                        <td><span class=" text-blue">75% male</span>, <span class=" text-pink">25% female</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><a href="/glossary#def-eggcycle">Egg cycles</a></th>
                                        <td>20 <small class=" text-muted">(4,884‚Äì5,140 steps)</small>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" grid-row">
                    <div class=" grid-col span-md-12 span-lg-8">
                        <div id=" dex-stats"></div>
                        <h2>Base stats</h2>
                        <div class=" resp-scroll">
                            <table class=" vitals-table">
                                <tbody>
                                <tr>
                                    <th>HP</th>
                                    <td class=" cell-num
    ">25
                                    </td>
                                    <td class=" cell-barchart
    ">
                                        <div class=" barchart-bar barchart-rank-1
    " style="width:13.89%;"></div>
                                    </td>
                                    <td class=" cell-num
    ">160
                                    </td>
                                    <td class=" cell-num
    ">254
                                    </td>
                                </tr>
                                <tr>
                                    <th>Attack</th>
                                    <td class=" cell-num
    ">20
                                    </td>
                                    <td class=" cell-barchart
    ">
                                        <div class=" barchart-bar barchart-rank-1
    " style="width:11.11%;"></div>
                                    </td>
                                    <td class=" cell-num
    ">40
                                    </td>
                                    <td class=" cell-num
    ">152
                                    </td>
                                </tr>
                                <tr>
                                    <th>Defense</th>
                                    <td class=" cell-num
    ">15
                                    </td>
                                    <td class=" cell-barchart
    ">
                                        <div class=" barchart-bar barchart-rank-1
    " style="width:8.33%;"></div>
                                    </td>
                                    <td class=" cell-num
    ">31
                                    </td>
                                    <td class=" cell-num
    ">141
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sp. Atk</th>
                                    <td class=" cell-num
    ">105
                                    </td>
                                    <td class=" cell-barchart
    ">
                                        <div class=" barchart-bar barchart-rank-4
    " style="width:58.33%;"></div>
                                    </td>
                                    <td class=" cell-num
    ">193
                                    </td>
                                    <td class=" cell-num
    ">339
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sp. Def</th>
                                    <td class=" cell-num
    ">55
                                    </td>
                                    <td class=" cell-barchart
    ">
                                        <div class=" barchart-bar barchart-rank-2
    " style="width:30.56%;"></div>
                                    </td>
                                    <td class=" cell-num
    ">103
                                    </td>
                                    <td class=" cell-num
    ">229
                                    </td>
                                </tr>
                                <tr>
                                    <th>Speed</th>
                                    <td class=" cell-num
    ">90
                                    </td>
                                    <td class=" cell-barchart
    ">
                                        <div class=" barchart-bar barchart-rank-4
    " style="width:50.00%;"></div>
                                    </td>
                                    <td class=" cell-num
    ">166
                                    </td>
                                    <td class=" cell-num
    ">306
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Total</th>
                                    <td class=" cell-total
    "><b>310</b></td>
                                    <th class=" cell-barchart
    "></th>
                                    <th>Min</th>
                                    <th>Max</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <p class=" text-small
   text-muted">The ranges shown on the right are for a level 100 Pok√©mon. Maximum values are based on a beneficial
                            nature, 252 EVs, 31 IVs; minimum values are based on a hindering nature, 0 EVs, 0 IVs.</p>
                    </div>
                    <div class=" grid-col span-md-12 span-lg-4">
                        <h2>Type defenses</h2>
                        <p>The effectiveness of each type on <em>Abra</em>.</p>
                        <div class=" resp-scroll text-center">
                            <table class=" type-table type-table-pokedex">
                                <tbody>
                                <tr>
                                    <th><a class=" type-icon type-normal type-cell type-abbr" href="/type/normal"
                                           title="Normal">Nor</a></th>
                                    <th><a class=" type-icon type-fire type-cell type-abbr" href="/type/fire"
                                           title="Fire">Fir</a></th>
                                    <th><a class=" type-icon type-water type-cell type-abbr" href="/type/water"
                                           title="Water">Wat</a></th>
                                    <th><a class=" type-icon type-electric type-cell type-abbr" href="/type/electric"
                                           title="Electric">Ele</a>
                                    </th>
                                    <th><a class=" type-icon type-grass type-cell type-abbr" href="/type/grass"
                                           title="Grass">Gra</a></th>
                                    <th><a class=" type-icon type-ice type-cell type-abbr" href="/type/ice" title="Ice">Ice</a>
                                    </th>
                                    <th><a class=" type-icon type-fighting type-cell type-abbr" href="/type/fighting"
                                           title="Fighting">Fig</a>
                                    </th>
                                    <th><a class=" type-icon type-poison type-cell type-abbr" href="/type/poison"
                                           title="Poison">Poi</a></th>
                                    <th><a class=" type-icon type-ground type-cell type-abbr" href="/type/ground"
                                           title="Ground">Gro</a></th>
                                </tr>
                                <tr>
                                    <td class=" type-fx-cell type-fx-100
    " title="Normal ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Fire ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Water ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Electric ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Grass ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Ice ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-50
    " title="Fighting ‚Üí Psychic = not very effective">¬Ω
                                    </td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Poison ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Ground ‚Üí Psychic = normal effectiveness"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class=" type-table type-table-pokedex">
                                <tbody>
                                <tr>
                                    <th><a class=" type-icon type-flying type-cell type-abbr" href="/type/flying"
                                           title="Flying">Fly</a></th>
                                    <th><a class=" type-icon type-psychic type-cell type-abbr" href="/type/psychic"
                                           title="Psychic">Psy</a></th>
                                    <th><a class=" type-icon type-bug type-cell type-abbr" href="/type/bug" title="Bug">Bug</a>
                                    </th>
                                    <th><a class=" type-icon type-rock type-cell type-abbr" href="/type/rock"
                                           title="Rock">Roc</a></th>
                                    <th><a class=" type-icon type-ghost type-cell type-abbr" href="/type/ghost"
                                           title="Ghost">Gho</a></th>
                                    <th><a class=" type-icon type-dragon type-cell type-abbr" href="/type/dragon"
                                           title="Dragon">Dra</a></th>
                                    <th><a class=" type-icon type-dark type-cell type-abbr" href="/type/dark"
                                           title="Dark">Dar</a></th>
                                    <th><a class=" type-icon type-steel type-cell type-abbr" href="/type/steel"
                                           title="Steel">Ste</a></th>
                                    <th><a class=" type-icon type-fairy type-cell type-abbr" href="/type/fairy"
                                           title="Fairy">Fai</a></th>
                                </tr>
                                <tr>
                                    <td class=" type-fx-cell type-fx-100
    " title="Flying ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-50
    " title="Psychic ‚Üí Psychic = not very effective">¬Ω
                                    </td>
                                    <td class=" type-fx-cell type-fx-200
    " title="Bug ‚Üí Psychic = super-effective">2
                                    </td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Rock ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-200
    " title="Ghost ‚Üí Psychic = super-effective">2
                                    </td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Dragon ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-200
    " title="Dark ‚Üí Psychic = super-effective">2
                                    </td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Steel ‚Üí Psychic = normal effectiveness"></td>
                                    <td class=" type-fx-cell type-fx-100
    " title="Fairy ‚Üí Psychic = normal effectiveness"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    "
</div>