<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Who's That Pokemon</title>

  <!-- Favicon -->
  <link rel="shortcut icon"
        href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="apple-touch-icon"
        sizes="180x180"
        href="{{ url_for('static', filename='apple-touch-icon.png') }}">

  <link rel="icon"
        type="image/png"
        sizes="180x180"
        href="{{ url_for('static', filename='favicon-32x32.png') }}">

  <link rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ url_for('static', filename='favicon-16x16.png') }}">

  <link rel="manifest"
        href="{{ url_for('static', filename='site.webmanifest') }}">

  <link href="https://fonts.googleapis.com/css?family=Rubik&amp;display=swap" rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

  <!-- Load initial assets -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  {{ dropzone.load_css() }}
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<!-- Simple Navigation bar -->
<div class="navbar">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/" title="Click to start over">Pokédex</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li>Presented by Team Ashe's Mustache</li>
  </ul>
</div>

<div class="alert alert-dark" role="alert" style="margin-bottom: 0">
  Upload an image of a Pokémon, or anything, and see what kind of Pokémon it is...
</div>

<!-- Add Jumbotron to Header -->
<div class="jumbotron text-center">
  <div class="container">
    <!-- Bar separating post submission display -->
    <div class="row">
      <div class="col-md-12">
        {% if result is not defined %}
        {{ dropzone.create(action='/') }}
        {% else %}
          <a href="/" class="btn btn-success btn-lg">Try Again!</a>
        {% endif %}
      </div>
      <div id="retry"></div>
    </div>
  </div>
</div>


<div class="alert alert-info" role="alert">
  ...then the Pokédex will display information about that Pokémon below
</div>

<div id="result">
  {{ result|safe }}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
<script type="module" src="static/js/main.js"></script>
{{ dropzone.load_js() }}
{{ dropzone.config(resizeWidth='96', resizeHeight='96', custom_init='this.on("success", function(files, response) {
      document.getElementById("result").innerHTML = response
      document.getElementById("retry").innerHTML = "<a href=\'/\' class=\'btn btn-success btn-lg\' style=\'margin-top: 1em\'>Try Again!</a>"
    });') }}
</body>
</html>
